@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
}

<div class="header">
    <div class="am-g">
        <h3>Index</h3>
    </div>
</div>