@{ 
    ViewData["Title"] = "管理后台";
}

@section head{
    <style>
        .header {
            text-align: center;
        }

            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }

            .header p {
                font-size: 14px;
            }
    </style>
}

<div class="header">
    <div class="am-g">
        <h1>后台管理系统首页</h1>
    </div>
    <hr />
</div>
